@font-face {
    font-family: Helv;
    src: url(fonts/HelveticaLight.ttf);
    font-weight:100;
}

@font-face {
    font-family: Helv;
    src: url(fonts/Helvetica.ttf);
    font-weight:500;
}

@font-face {
    font-family: Helv;
    src: url(fonts/HelveticaBold.ttf);
    font-weight:700;
}


* {
	margin: 0;
	padding:0;
	font-family: Helv, Helvetica, Arial;
	font-weight:300;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    text-decoration: none;
}

body {
	overflow: hidden;
	background:#fff;
}

.page {
	position: absolute;
	left:99999px;
}


iosStatus {
	position: fixed;
	top:0;
	left:0;
	right:0;
	height:20px;
	background:#333;
}

container {
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
	-webkit-overflow-scrolling: none;
}





/* UNIVERSAL STYLINGS */

.content {
	position: absolute;
	border-width: 0; 
	bottom:0px;
	left:0;
	right:0;
	overflow-y:auto;
	-webkit-overflow-scrolling: touch;
}

.bar, .list a {
	display: block;
	background:#fff;
	text-decoration: none;
	border-bottom:1px solid #cacfd2;
	position: relative;
	color:#34495e;
	font-weight: 400;
}

.list a .nota {
	color:#708694;
	font-size:11px;
	line-height:12px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow-x: hidden;
	height:13px;
	margin-top:10px;
}

.list a .close {
	color:Red;
	font-size:13px;
	line-height:12px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow-x: hidden;
	height:15px;
	margin-top:8px;
}


.inside {
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}

 .inside:active {
	background:rgba(0,0,0,.05);
}

.header, .footer {
	position: absolute; 
	zoom: 1; 
	display: block;
	height:43px;
	z-index: 100;
	left:0;
	right:0;
	font-size:25px;
	line-height:44px;
	background:#b23944;
	color:#fff;
	box-shadow: none;
	top:0;
}

.header {
/* box-shadow:0 0 6px rgba(0,0,0,.5); */
}

.header h1 {
	display: block; 
	margin:0;
	left:0;
	right:0;
	height:43px;
	position: absolute;
	top:0;
	font-size:18px;
	line-height:43px;
	z-index: 0;
	text-align: center;
	font-weight:700;
	font-size:20px;
}

.search {
	width:45px;
	height:42px;
	position: absolute;
	top:0;
	right:5px;
	z-index: 1;
	background:url(images/search-blue.png) no-repeat center center;
	background-size:30px;
}

.home {
	width:45px;
	height:42px;
	position: absolute;
	top:0;
	right:5px;
	z-index: 1;
	background:url(images/home.png) no-repeat center center;
	background-size:30px;
}

.profileBtn {
	width:40px;
	height:42px;
	position: absolute;
	top:0px;
	left:5px;
	z-index: 1;
	background:url(images/account.png) no-repeat center center;
	background-size:30px;
}

.searchme {
	position: absolute;
	top:11px;
	bottom:5px;
	left:15%;
	right:15%;
	font-size:14px;
	padding:5px 15px;
	font-family: Helvetica !important;
}

.back {
	width:40px;
	height:42px;
	position: absolute;
	top:0;
	left:5px;
	z-index: 1;
	background:url(images/back.png) no-repeat center center;
	background-size:30px;
}


	/* list icons and such */
	
	arrow {
		width:auto;
		height:23px;
		background:url('data:image/svg+xml;utf8,<svg version="1.1" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20.833px" height="27px" viewBox="0 0 20.833 27" xml:space="preserve"><polygon fill="#b23944" points="9.458,0 0,0 11.375,13.5 0,27 9.458,27 20.833,13.5 "/></svg>') no-repeat right center;
		background-size:12px;
		display: block;
		position: absolute;
		right:18px;
		top:50%;
		margin-top:-10px;
		color:#b23944;
		font-size:12px;
		padding-right:20px;
		line-height:23px;
	}

	.ico {
		width:18px;
		height:18px;
		float:left;
		display: block;
		background-size: contain;
		background-repeat: no-repeat;
	}
	
	.ico.big {
		width:30px;
		height:30px;
	}
	
	.ico.giant {
		width:50px;
		height:50px;
		border:1px solid #ccc;
		border-radius:60px;
		background-size:cover;
	}

	.ico.order {
		background-image:url(images/order.png);
	}
	.ico.call {
		background-image:url(images/phone.png);
	}
	.ico.others {
		background-image:url(images/compass.png);
	}
	.ico.location {
		background-image:url(images/pin.png);
	}

	.ico.beverages {
		background-image:url(images/ico-beverages.png);
	}
	.ico.coffee {
		background-image:url(images/ico-coffee.png);
	}
	.ico.starters {
		background-image:url(images/ico-starters.png);
	}
	.ico.breads {
		background-image:url(images/ico-breads.png);
	}
	.ico.main_course {
		background-image:url(images/ico-main_course.png);
	}
	.ico.desserts {
		background-image:url(images/ico-desserts.png);
	}
	.ico.ice_creams {
		background-image:url(images/ico-ice_creams.png);
	}



	/* search stuff */
	
	.fadeout {
		background:rgba(255,255,255,.9);
		position: fixed;
		top:0;
		left:0;
		right:0;
		bottom:0;
		z-index: 80;
		display: none;
	}
	
	
	
	.searchbar {
		border:1px solid #bdc3c7;
		padding:5px;
		position: absolute;
		top:55px;
		left:10px;
		right:10px;
		z-index: 105;
		display:none;
		background:#fff;
	}
	
	.searchbar #searchthis {
		border:1px solid #b23944;
		padding:10px 10px 10px 40px;
		font-size:17px;
		color:#002740;
		box-sizing:border-box;
		width:100%;
		outline: none;
	}
	
	.search_tweak {
		width:13px;
		height:10px;
		background-image:url(images/search_tweak.png);
		background-size:contain;
		position: absolute;
		right:13px;
		top:-10px;
	}
	
	.searchresults {
		position: absolute;
		top:91px;
		left:0;
		right:0;
		bottom:0;
	}
	
	.searchresults a {
		border-bottom:1px solid rgba(255,255,255,.1);
		padding:15px 20px 15px 40px;
		display: block;
		color:#eee;
		font-weight: 600;
		background-image:url(images/time.png);
		background-size:15px;
		background-repeat: no-repeat;
		background-position: 15px 14px;
		
	}


.topim {
	position: absolute;
	top:43px;
	left:0;
	right:0;
	height:200px;
	background:#eee center center;
	background-size:cover;
}

.cat {
	background:#333333;
	color:#fff;
	font-size:14px;
	height:30px;
	padding:0 15px;
	line-height:30px;
}







/* order blocks */

.orderblock {
	background-color:#333333;
	position: absolute;
	bottom:0;
	left:0;
	right:0;
	color:#344c62;
	height:48px;
	font-size:18px;
	line-height: 48px;
	padding-left:15px;
	z-index:100;
}

.orderblock p {
	position: absolute;
	right:12px;
}

div.btn, a.btn, a.summary, .cartItems, .numItems {
	background:#b23944;
	border-radius:6px;
	color:#fff;
	display: inline-block;
	height:30px;
	padding:0 15px;
	font-size:12px;
	line-height: 32px;
	width:auto;
	border:none !important;
	cursor: pointer;
	font-weight:600;
}

a.summary {
	position: absolute;
	top:10px;
	left:12px;	
}

a.summary.docart {
	padding:0 13px;
}

a.summary.clearorder {
	background:#555;
	left:125px;
}


.numItems {
	background:#fff;
	position: absolute;
	left:120px;
	top:10px;
	padding:0 5px;
	color:#333;
	font-size:17px;
	width:20px;
	text-align: center;
}






/* splash.html */

.page.splash .content {
	top:159px;
}

.page.splash .header {
}

.page.splash .header h1 {
	background:url(images/settle.png) no-repeat center center;
	background-size:100px;
}


.smallmap {
	height:112px;
	position: absolute;
	top:43px;
	left:0;
	right:0;
	background:#eee;
}

.mapoverlay {
	background:rgba(0,0,0,.8);
	position: absolute;
	top:133px;
	left:0;
	right:0;
	text-align: center;
	color:#fff;
	font-size:11.5px;
	white-space: nowrap;
	padding:7px 15px;
	text-overflow: ellipsis;
}

.mapoverlay.withtopim {
	top:196px;
	text-align: left;
}

.mapoverlay.withtopim p {
	font-size:13px;
	line-height:14px;
	margin-bottom:0px;
}

.smaller {
	font-size:80%;
}

.menu {
	width:23px;
	height:23px;
	background:url(images/menu.png) no-repeat;
	background-size:contain;
	position: absolute;
	top:11px;
	left:18px;
	z-index: 1;
}

.page.splash .content.list a {
	height:62px;
	padding-left:75px;
	font-size:18px;
	padding-top:7px;
	line-height:45px;
}

.page.splash .content.list a .nota {
	margin-top:-8px;
}

.distance {
	color:#b23944;
}

.page.splash .ico.giant {
	margin-left:-62px;
	margin-top:2px;
}








/* biz.html */

.page.biz .content {
	top:243px;
}

.page.biz .content.list a {
	height:62px;
	line-height:62px;
	padding-left:75px;
	font-size:18px;
	font-weight:100 !important;
}

.page.biz .content.list a .ico {
	position: absolute;
	top:50%;
	margin-top:-9px;
	left:23px;
}








/* order.html */

.page.order .content {
	top:42px;
	bottom:48px;
}

.page.order .content.list a {
	height:62px;
	padding-left:75px;
	font-size:18px;
	padding-top:7px;
	line-height:45px;
}

.page.order .content.list a .ico {
	margin-left:-62px;
	margin-top:2px;
}

.page.order .content.list a .nota {
	margin-top:-8px;
}





/* category.html */

.page.category .content {
	top:72px;
	bottom:48px;
}

.page.category .content.list a {
	font-size:18px;
	padding:15px 100px 15px 15px;
}

.page.category .content.list a .ico {
	position: absolute;
	width:22px;
	height:22px;
	border-radius:22px;
	top:50%;
	margin-top:-11px;
	left:15px;
	color:#fff;
	text-align: center;
	line-height:23px;
	font-size:13px;
}

.page.category .content.list a .ico.check {
	background:#2ecc71;
}

.page.category .content.list a .nota {
	overflow: visible;
	white-space: normal;
	height: auto;
}

.page.category .cat {
	position: absolute;
	top:42px;
	left:0;
	right:0;
}





/* item.html */

.page.item .content {
	top:42px;
	bottom:48px;
}

.page.item .item {
	padding:14px 120px 20px 15px;
	border-bottom:1px solid #cacfd2;
}

.page.item .price {
	margin-right:-110px;
	float:right;
}

.page.item .item .nota {
	font-size:11px;
	margin-top:10px;
	color:#7a7d7f;
}

.page.item .item .ico {
	position: relative;
	margin-left:-35px;
}

.page.item .content.list .itemlist, .page.item .content.list .subitemlist {
	padding:15px 40px 15px 15px;
	border-bottom:1px solid #cacfd2;
	font-size:14px;
}


.page.item .content.list .subitemgroup {
font-size:14px;
}


.addtocart {
	border:1px solid #2ecc71;
	color:#2ecc71;
	padding:2px 4px;
	border-radius:3px;
	font-size:14px;
	float:right;
	font-weight:400;
	margin-top:-22px;
	margin-right:-110px;
}

.addtocart:active {
	background:#2ecc71;
	color:#fff;
}

.toggle_item, .add_item, .remove_item {
	width:70px;
	height:25px;
	background-size:contain;
	background-repeat: no-repeat;
	background-position: right center;
	float:right;
	margin-right:-30px;
	display: block;
	margin-top:-4px;
	text-align: right;
	font-size:13px;
	line-height: 20px;
	z-index: 10;
}

.toggle_item {

}
.toggle_item.picked {
	background-image:url(images/check_yes.png);
	color:transparent;
}

.add_item {
	background-image:url(images/add.png);	
}
.remove_item {
	background-image:url(images/remove.png);
	margin-right:0px;
	opacity:0;
}







/* summary.html */

.page.summary .content {
	top:72px;
	bottom:48px;
}

.page.summary .cat {
	position: absolute;
	top:42px;
	left:0;
	right:0;
}

.page.summary .nota {
	height:auto;
	overflow: visible;
}

.page.summary .content a {
	padding:14px 120px 40px 15px;
	border-bottom:1px solid #cacfd2;
}

.page.summary .content a .ico {
	position: absolute;
	left:15px;
	top:10px;
}

.page.summary .content a .price {
	float:right;
	margin-right:-110px;
	font-size:12px;
}

.add_and_remove {
	border:1px solid #b23944;
	border-radius:6px;
	width:82px;
	height:35px;
	position: absolute;
	right:10px;
	top:40px;
	font-size: 30px;
	z-index: 999;
}

.add_and_remove .remove_item, .add_and_remove .add_item {
	background:none;
	color: #b23944;
	width:41px;
	margin:0 !important;
	float:none;
	line-height:35px;
	font-size:25px;
	text-align: center;
	position: absolute;
	top:0;
	left:41px;
	font-weight: bold;
	height:35px;
}


.add_and_remove .add_item:active, .add_and_remove .remove_item:active {
	background:#eee;
}

.add_and_remove .remove_item {
	border-right:1px solid #b23944;
	left:0;
	width:40px;
	border-radius:5px 0 0 5px;	
}

.add_and_remove .add_item {
	border-radius:0px 5px 5px 0px;	
}

.content.list.summary .remove_item {
	opacity:1;
	right:45px;

}


.orderblock .ico.order, .submitorder .ico.order {
	background-image:url(images/order_white.png);	
	margin-top:9px;
	margin-left:-37px;
}

.next, .process {
	width:20px;
	height:20px;
	background:url(images/next.png) no-repeat;
	background-size:contain;
	position: absolute;
	right:15px;
	top:50%;
	margin-top:-10px;
	z-index: 1;
}

.process {
	background:url(images/process.png) no-repeat;	
}

.next.arrow {
	background:url(images/next_arrow.svg) no-repeat;
	height:15px;
	width:15px;
	margin-top:-5px;
}

.orderblock h2 {
	font-weight: 100;
	font-size:18px;
}
.orderblock p {
	color:#fff;
}







/* send.html */

.page.send .header {
	box-shadow:0 0 10px rgba(0,0,0,.5);
}

.page.send .content {
	top:43px;
}

.page.send .bar {
	height:65px;
	line-height:55px;
	padding:0 20px;
	font-size:18px;
	font-weight:500;
}

.page.send .price {
	float:right;
	font-weight:500;
}

.page.send .rest {
	padding:20px;
}

.page.send p {
	font-weight: 200;
	padding:12px 0;
	font-size:14px;
}

.page.send input {
	border:1px solid #cacfd2;
	padding:5px;
	font-size:17px;
	box-sizing: border-box;
	width:100%;
	margin-bottom:7px;
	outline: none;
}

.page.send input:focus {
	border:1px solid #b23944;
}

.footer {
	position: fixed;
	bottom:0;
	top:auto;
	font-size:17px;
	text-align: center;
}

.check {
	width:15px;
	height:15px;
	background-image:url(images/check_yes_white.png);
	background-repeat:no-repeat;
	background-size:contain;
	display: inline-block;
	margin-right:20px;
	vertical-align:baseline;
	margin-bottom:-2px;
}

.settlebtn {
	width:150px;
	background:url(images/settle-button.png) no-repeat right center;
	height:26px;
	color:transparent;
	background-size:contain;
	display: inline-block;
	margin-left:20px;
	float:right;
}



/* thanks.html */

.page.thanks .content {
	top:43px;
	padding:25px;
	text-align: center;
}

.page.thanks p {
	margin-bottom:20px;
}

/* verification.html */

.page.verification .header {
	background:#fff;
	border-bottom:1px solid #a2a2a2;
	background:-webkit-linear-gradient(#fff 0%, #fff 80%, #f9f9f9 100%);
	color:#636363;
}

.page.verification .header h1 {
	font-weight: bold;
}
.page.verification .content {
	top:43px;
	padding:25px 0 0 25px;
}

.page.verification .immy {
	background-image:url(images/red_guy.png);
	background-size:25px;
	background-position: center center;
}

/* login.html */

.page.login .header {
	background:#fff;
	border-bottom:1px solid #a2a2a2;
	background:-webkit-linear-gradient(#fff 0%, #fff 80%, #f9f9f9 100%);
	color:#636363;
}

.page.login .header h1 {
	font-weight: bold;
}
.page.login .content {
	top:43px;
	padding:25px 0 0 25px;
}

.page.login .immy {
	background-image:url(images/red_guy.png);
	background-size:25px;
	background-position: center center;
}

/* profile.html */

.page.profile .header {
	background:#fff;
	border-bottom:1px solid #a2a2a2;
	background:-webkit-linear-gradient(#fff 0%, #fff 80%, #f9f9f9 100%);
	color:#636363;
}

.page.profile .header h1 {
	font-weight: bold;
}
.page.profile .content {
	top:23px;
	padding:25px 0 0 25px;
}

.page.profile .immy {
	background-image:url(images/red_guy.png);
	background-size:25px;
	background-position: center center;
}



.sideInfo {
	margin-left:5px;
	font-size:17px;
	color:#636363;
	margin-top:15px
}

.sideInfo b {
	color:#b23944;
	font-size:9px;
}

.sideInfo input {
	font-size:14px;
	color:#636363;
	border:0;
	height:30px;

}

.sideInfo h2 {
	font-size:17px;
	margin-top:10px;
	font-weight: 500;
}

.line {
	border-top:1px solid #d8d8d8;
	margin-top:2px;
	margin-bottom:4px;
}

.PasswordOK {
	width:30px;
	height:30px;
	background-size:contain;
	background-repeat: no-repeat;
	background-position: right center;
	background-image:url(images/check_yes.png);
	position: absolute;
	top:6px;
	right:12px;
	z-index: 10;
}

.allOK {
	width:30px;
	height:30px;
	background-size:contain;
	background-repeat: no-repeat;
	background-position: right center;
	background-image:url(images/check_yes.png);
	position: absolute;
	top:6px;
	right:12px;
	z-index: 10;
}
.allClose {
	width:30px;
	height:30px;
	background-size:contain;
	background-repeat: no-repeat;
	background-position: right center;
	background-image:url(images/close.png);
	position: absolute;
	top:6px;
	left:12px;
	z-index: 10;
}


/* location.html */

.page.location #map_canvas {
	position: absolute;
	top:42px;
	bottom:0;
	left:0;
	right:0;
}



searchSheet {
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background:rgba(0,0,0,.9);
	z-index: 200;
	display: none;
}

searchSheet .header {
	background:#fff;
	border-bottom:1px solid #a2a2a2;
	background:-webkit-linear-gradient(#fff 0%, #fff 80%, #f9f9f9 100%);
	color:#636363;
}

searchSheet .header h1 {
	font-weight: bold;
}

searchSheet .content {
	top:42px;
}

.realSearch {
	margin:10px;
	width:93%;
	box-sizing: border-box;
	margin-top:13px;
	font-size:14px;
	padding:5px 5px 5px 30px;
	font-family: Helvetica !important;
	border-radius:30px;
	border:1px solid rgba(145,145,145,0.58);
	color:#b23944;
	background-image:url(images/mag.png);
	background-size:15px;
	background-repeat: no-repeat;
	background-position: 8px 6px;
	box-shadow:inset 5px 0 5px rgba(0,0,0,.05);
	font-weight: 500;
}

.realSearch.loc {
	color:#b3b3b3;
	background-image:url(images/loc.png);
}


a.btn:active, a.summary:active, .back:active, .profileBtn:active, .search:active, .allOK:active, .allClose:active, .PasswordOK:active, div.btn:active {
	opacity:.5;
}

a.btn.off, div.btn.off {
	opacity:.2;
}

p b, .numofit{
	font-weight: 500;
}





.header.qa {
	background-color:#3972b3;
}
.header.dev {
	background-color:#7e7e7e;
}




.spinner {
	position: absolute;
	top:50%;
	left:50%;
	margin-left:-9px;
	margin-top:-9px;
	width:18px;
	height:18px;
	z-index: 9999;
}

.spinner.inliner {
	margin:0;
	left:auto;
	padding:0;
	margin-top:-8px !important;
	background-image:none !important;
	box-shadow: none !important;
	border:none !important;
}

    .spinner div {
      width: 12%;
      height: 33%;
      background: rgba(0,0,0,.6);
      position: absolute;
      left: 44.5%;
      top: 37%;
      opacity: 0;
      -webkit-animation: fade 1s linear infinite;
      -webkit-border-radius: 50px;
    }



    .spinner div.bar1 {-webkit-transform:rotate(0deg) translate(0, -142%); -webkit-animation-delay: 0s;}    
    .spinner div.bar2 {-webkit-transform:rotate(30deg) translate(0, -142%); -webkit-animation-delay: -0.9167s;}
    .spinner div.bar3 {-webkit-transform:rotate(60deg) translate(0, -142%); -webkit-animation-delay: -0.833s;}
    .spinner div.bar4 {-webkit-transform:rotate(90deg) translate(0, -142%); -webkit-animation-delay: -0.75s;}
    .spinner div.bar5 {-webkit-transform:rotate(120deg) translate(0, -142%); -webkit-animation-delay: -0.667s;}
    .spinner div.bar6 {-webkit-transform:rotate(150deg) translate(0, -142%); -webkit-animation-delay: -0.5833s;}
    .spinner div.bar7 {-webkit-transform:rotate(180deg) translate(0, -142%); -webkit-animation-delay: -0.5s;}
    .spinner div.bar8 {-webkit-transform:rotate(210deg) translate(0, -142%); -webkit-animation-delay: -0.41667s;}
    .spinner div.bar9 {-webkit-transform:rotate(240deg) translate(0, -142%); -webkit-animation-delay: -0.333s;}
    .spinner div.bar10 {-webkit-transform:rotate(270deg) translate(0, -142%); -webkit-animation-delay: -0.25s;}
    .spinner div.bar11 {-webkit-transform:rotate(300deg) translate(0, -142%); -webkit-animation-delay: -0.1667s;}
    .spinner div.bar12 {-webkit-transform:rotate(330deg) translate(0, -142%); -webkit-animation-delay: -0.0833s;}

     @-webkit-keyframes fade {
      from {opacity: 1;}
      to {opacity: 0.25;}
    }


