<script>
   
	buildPage('everything', $.fetch, function(dx) {									// build this page (store the cache in "everything" and grab from $.fetch)
		
                     
		if (getLS('cart') != undefined) {
			$.cart = JSON.parse(getLS('cart'));
		}
		if ($.cart[getLS('biz')] == undefined) {
			$.cart[getLS('biz')] = {};
			setLS('cart',JSON.stringify($.cart));
		}
		//var iam = dx.shops[getLS('biz')];
        
        
        var iam = getShopfromIDResultset(getLS('biz'));        
        
		spit(iam);
        var hour = JSON.parse(iam.hours);
        var menu = JSON.parse(iam.categories);
        var time = getTime(hour);
							
		$.get($.fp,function(d) {													// our standard page loader. Gets the page template, and when it's ready...
			$.thePage = d;															// assign $.thePage to its content
			rp({'name':iam.name, 'address':iam.address, 'phone':iam.phone, 'hours':time, 'code':getLS('biz'), 'mediaStore':$.mediaStore});

		/*	if (!iam.others) {
				rp({'/others':''});
			}*/
			if (!iam.phone) {
				rp({'/call':''});
			}
			if (!menu) {
				rp({'/order':''});
			}
			if (!iam.coordinates) {
				rp({'/location':''});
			}
			
			repAll();
			movePage($.move);															// movePage() starts the rendering.
			$.goBack = "splash.html";
		});
	});
</script>

<content>
	<div class="header blue">
		<a href="splash.html" class="back" move="slideR"></a>
		<a href="splash.html" class="home" move="slideR"></a>
		<h1>{{name}}</h1>
	</div>
	
	<div class="topim" style="background-image:url({{mediaStore}}{{code}}-banner.jpg)"></div>
	<div class="mapoverlay withtopim" style="top:203px"><p>{{address}}</p><span class="smaller">{{hours}}&nbsp;</span></div>
	
	<div class="content list">
		{{order}}<a href="order.html" move="slide"><div class="ico order"></div>Place Your Order<arrow></arrow><div class="inside"></div></a>{{/order}}
		{{call}}<a href="tel:{{phone}}" target="_blank"><div class="ico call"></div>Call Us<arrow></arrow><div class="inside"></div></a>{{/call}}
		<!--{{others}}<a href="others.html" move="slide"><div class="ico others"></div>Our Other Stores<arrow></arrow><div class="inside"></div></a>{{/others}}-->
		{{location}}<a href="location.html" move="slide"><div class="ico location"></div>Location Map<arrow></arrow><div class="inside"></div></a>{{/location}}
	</div>
</content>