<script>

	clearLS('uc');

	buildPage('everything', $.fetch, function(dx) {									// build this page (store the cache in "everything" and grab from $.fetch)
		
		//var iam = dx.shops[getLS('biz')]['menu'][getLS('cat')];
        var iam = getShopfromIDResultset(getLS('biz')); 
        var menu = JSON.parse(iam.categories);
		var ll = '';																// for whatever reason, I use ll to make lists.	
		//$.each(iam, function(p,v) {													// for each entry in the 'everything' object, we iterate...
/*
			var gom = 0;																	// create a list item (HTML is good here)
			var gotcha = '';
			$.each($.cart[getLS('biz')], function(d,dd) {
				if (dd.name == v.name && dd.addThis>0) {
					gom += (dd.addThis)*1;
					gotcha = " check";
				}
			});
*/	
		/*	var pr = parseInt(v.price);
			pr = pr.toFixed(2);
			ll += '<a href="item.html" item="' + p + '" move="slide"><p>' + v.name + '</p><div class="nota">' + v.desc + '</div><arrow>$' + pr + '</arrow><div class="inside"></div></a>';
		});*/
    
        for (var i=0; i< menu.length; i++){
                
        
            var pr = parseInt(v.price);
			pr = pr.toFixed(2);
            ll += '<a href="item.html" item="' + p + '" move="slide"><p>' + v.name + '</p><div class="nota">' + v.desc + '</div><arrow>$' + pr + '</arrow><div class="inside"></div></a>';
        }

		$.get($.fp,function(d) {													// our standard page loader. Gets the page template, and when it's ready...
			$.thePage = d;															// assign $.thePage to its content

			rp({'name':dx.shops[getLS('biz')]['name'], 'thelist':ll, 'cat':getLS('cat')});
			
			repAll();
			movePage($.move);															// movePage() starts the rendering.
			$.goBack = "order.html";
		});
	});

</script>

<content>

	<div class="header blue">
		<a href="order.html" class="back" move="slideR"></a>
		<a href="splash.html" class="home" move="slideR"></a>
		<h1>{{name}}</h1>
	</div>
	
	<div class="cat">{{cat}}</div>
	
	<div class="orderblock">
		<p>Total $ <span class="cartVal">0.00</span></p>
		<a href="summary.html" class="summary" move="slide">Preview Order</a>
	</div>
	
	<div class="content list">
		{{thelist}}
	</div>

</content>