<script>
	clearLS('uc');
	buildPage('everything', $.fetch, function(dx) {									// build this page (store the cache in "everything" and grab from $.fetch)
		
		if (getLS('cart')) {	
			var iam = JSON.parse(getLS('cart'));
		}	
/* 		dx.shops[getLS('biz')]['hours']['fri'] = "9am - 11:59pm" */
		var fi = moment().add('minutes',5);
		if (dx.shops[getLS('biz')] && dx.shops[getLS('biz')]['hours'] && dx.shops[getLS('biz')]['hours'][moment().format('ddd').toLowerCase()]) {
			var clc = dx.shops[getLS('biz')]['hours'][moment().format('ddd').toLowerCase()];
			if (clc.indexOf("-") > 0) {
				clc = clc.split("-")[1].trim();
				if (clc.indexOf(":") > 0) {
					var cl = moment(moment().format('YYYY-MM-DD ') + clc, "YYYY-MM-DD hh:mm a");
				} else {
					var cl = moment(moment().format('YYYY-MM-DD ') + clc, "YYYY-MM-DD hh a");
				}
			} else {
				clc = moment(moment().format('YYYY-MM-DD ') + "6 am", "YYYY-MM-DD hh a");
			}
		} else {
			var cl = moment(moment().format('YYYY-MM-DD ') + "5 pm", "YYYY-MM-DD hh a");
		}
		var no = fi;
		var picko = '';
		var pickt = '';
		var picks = 5;
		while (no < cl) {
			picko += '<option value="'+no.format('YYYY-MM-DD HH:mm')+'">'+no.format('h:mm a')+'</option>';
			pickt += '<option value="'+no.format('YYYY-MM-DD HH:mm')+'">'+(picks)+' minutes</option>';
			no.add('minutes',5);
			picks += 5;

		}

		rp({'name':dx.shops[getLS('biz')]['name'], 'price':parseCart(), 'myname':getLS('myname'), 'phone':getLS('myphone'), 'pickups':picko, 'pickuptimer':pickt});
		
		repAll();
		movePage($.move);															// movePage() starts the rendering.
		
		setTimeout(function() {
			if ($('#name').val()!="" && $('#phone').val()!="" && $("#pickup").val()!="") {
				$('.sendnow').removeClass('off');
			}
		}, 400);
		
		if (moment() < cl) {
			$('.goodtoday').show();
			$('.badtoday').hide();
		} else {
			$('.goodtoday').hide();
			$('.badtoday').show();
		}
		$.goBack = "summary.html";
        
       // post_to_url("http://wssettle.azurewebsites.net/api/Pay3p","post");
        post_to_url("http://wolfstrikesettle2.azurewebsites.net/api/Pay3p","post");
	});
    
    
    
</script>

<content>
    <div class="header blue">
		<a href="send.html" class="back" move="slideR"></a>
		<a href="splash.html" class="home" move="slideR"></a>
		<h1>{{name}}</h1>
	</div>
    
    <div>
        <iframe id="ifrmPay" src="" seamless scrolling="no" width="100%" height="100%">
      

       </iframe>
    </div> 
 </content>