<script>

	function pad(a,b){return(1e15+a+"").slice(-b)}

	buildPage('everything', $.fetch, function(dx) {									// build this page (store the cache in "everything" and grab from $.fetch)
		
		$.uc = getLS('uc');
		if ($.uc == undefined) {
			$.uc = new Date().getTime();
			$.cart[getLS('biz')][$.uc] = {'options':{}};
		}
		
		
		var iam = dx.shops[getLS('biz')]['menu'][getLS('cat')][getLS('item')];
		var ll = '';																// for whatever reason, I use ll to make lists.	
		$.each(iam.options, function(p,v) {													// for each entry in the 'everything' object, we iterate...
			if (v.choices) {
				ll += '<div class="subitemgroup">';
				ll += '<div class="cat">' + p + '</div>';
				if ($.cart[getLS('biz')][$.uc]['options'][p] && $.cart[getLS('biz')][$.uc]['options'][p]['name']) {
					var pick = $.cart[getLS('biz')][$.uc]['options'][p]['name'];
				} else {
				}
				var i = 0;
				$.each(v.choices, function(sp, sv) {
					if (sv.price && sv.price[0] == ".") {
						sv.price = "0"+(sv.price);
					}
					spit(sv.price);
					ll += '<a class="subitemlist" pick="' + sp + '" cartType="option" cartCode="' + p + '" cartName="' + sp + '" cartVal="' + sv.price + '">' + sp;
					ll += '<div class="toggle_item';
					if (pick == sp || (pick == undefined && sv.def == 1)) {
						ll += ' picked';
						doCart(p,sp,sv.price,'','op',1);
					}
					i += 1;
					ll += '" cartType="option">+ $' + sv.price + '</div><div class="inside"></div></a>';
				});
				ll += '</div>';
			} else {
				ll += '<a class="itemlist" pick="' + p + '" cartType="option" cartCode="' + p + '" cartName="' + v.name + '" cartVal="' + v.price + '">' + v.name + '<span class="howmany">';
				ll += '</span><div class="add_item"></div><div class="remove_item"></div></a>';
			}
		});


		if ($.cart[getLS('biz')][$.uc]['addThis'] < 1 || $.cart[getLS('biz')][$.uc]['addThis'] == undefined) {
			var adder = "Add to Order";
			var addThis = 1;
			var goAfter = "category";
		} else {
			var adder = "Update Order";
			var addThis = $.cart[getLS('biz')][$.uc]['addThis'];
			var goAfter = "summary";
		}
		rp({'name':dx.shops[getLS('biz')]['name'], 'thelist':ll, 'item':iam.name, 'desc':iam.desc, 'price':iam.price, 'type':getLS('cat').replace(" ", "_").toLowerCase(), 'uc':$.uc, 'adder':adder, 'biz':getLS('biz'), 'code':getLS('item'), 'addThis':addThis, 'goafter':goAfter});
		
		repAll();
		movePage($.move);															// movePage() starts the rendering.
		calcPriceDiffs();
		$.goBack = "category.html";
	});


</script>

<content>

	<div class="header blue">
		<a href="category.html" class="back" move="slideR"></a>
		<a href="splash.html" class="home" move="slideR"></a>
		<h1>{{name}}</h1>
	</div>
	
	<div class="orderblock">
		<p>Total $ <span class="cartVal">0.00</span></p>
		<input class="numItems" id="numItems" type="number" value="{{addThis}}"  cartType="top" cartCode="1" cartVal="{{price}}" cartName="{{item}}"/>
		<a href="{{goafter}}.html" move="slideR" class="summary docart" move="slide" cartType="top" cartCode="1" cartVal="{{price}}" cartName="{{item}}">{{adder}}</a>
	</div>
	
	<div class="content list" uc="{{uc}}">
		<div class="item">
			<div class="price" basePrice="{{price}}">${{price}}</div>
			{{item}}
			<div class="nota">{{desc}}</div>
		</div>
		{{thelist}}
	</div>

</content>