<script>
	buildPage('everything', $.fetch, function(dx) {									// build this page (store the cache in "everything" and grab from $.fetch)
		var iam = dx.shops[getLS('biz')];
		
			rp({});
			
			repAll();
			movePage($.move);															// movePage() starts the rendering.
		setTimeout(function() {
			drawMap({'101':{'lat':iam.coordinates.lat, 'lon':iam.coordinates.lon}},1);						
		}, 50);
		$.goBack = "biz.html";
	});
</script>

<content>
	<div class="header blue">
		<a href="biz.html" class="back" move="slideR"></a>
		<a href="splash.html" class="home" move="slideR"></a>
		<h1>{{name}}</h1>
	</div>
	
	<div id="map_canvas"></div>
	
</content>