<script>
	clearLS('uc');	
    
	
	if (getLS('userIm') != undefined) {
		var imzy = ' style="background-image:url('+getLS('userIm')+'); background-size:cover !important;" ';
	} else {
		var imzy = '';
	}
	
	rp({'name':getLS('myname'), 'phone':getLS('myphone'), 'order':order, 'total':'$ '+total,'lastorder':first, 'imzy':imzy});
	repAll();
	movePage($.move);															// movePage() starts the rendering.
	$.goBack = "profile.html";
    $.firstrun = 3;
   
</script>

<content>

	<div class="header">
		<a href="profile.html" class="back" move="slide"></a>
		<a class="PasswordOK" move="slide"></a>
		<h1>Login</h1>
	</div>
	  
	

	<div class="content list flex summary">
	
		<!--<div class="ico giant immy" {{imzy}}></div>-->
		
		<div class="sideInfo">
			
            <p><b>Email</b></p>
			<p><input id="loginemail" value="{{email}}" placeholder="Your email" /></p>
			<div class="line"></div>
            
             <p><b>Password</b></p>
			<p><input id="loginpassword" value="{{password}}" placeholder="Password" type='password' /></p>
			<div class="line"></div>
            
           
			
			<p><b>Phone</b></p>
			<p><input id="loginphone" value="{{phone}}" placeholder="Your phone number" /></p>
			<div class="line"></div>  
            
             <div class="btn repassword on">Forget my password</div>
          			
		
		</div>
	
	</div>

</content>