<script>
    
    alert('Order');

	buildPage('everything', $.fetch, function(dx) {									// build this page (store the cache in "everything" and grab from $.fetch)
		
		
		//var iam = dx.shops[getLS('biz')];
    try{
       var iam = getShopfromIDResultset(getLS('biz'));
       var menu = JSON.parse(iam.categories);
    }
    catch(er){
      alert('order crashed'+er);
    
    }
    
		var ll = '';
		/*$.each(menu, function(p,v) {													// for each entry in the 'everything' object, we iterate...
			if (Object.size(v) > 0) {																		// create a list item (HTML is good here)
				var cheapest = 9999;
				$.each(v, function(pp, pv) {
					if (pv.price < cheapest) {
						cheapest = pv.price;
					}
				});
				if (cheapest == 9999) {
					cheapest = 0;
				}
				mults = "";
				if (Object.size(v) > 1) {
					mults = "s";
				}
				ll += '<a href="category.html" cat="' + p + '" move="slide"><div class="ico giant" style="background-image:url(' + $.mediaStore + getLS('biz')+'-p-'+p.toLowerCase().replace(/ /g,"")+'-60.jpg)"></div><p>' + p + '</p><div class="nota">' + Object.size(v) + ' Option'+mults+', starting from $'+cheapest+'</div><arrow></arrow><div class="inside"></div></a>';
			}
		});*/
        
    
        try{
        for (var i=0; i < menu.length; i++)
        {
            if (Object.size(menu[i]) > 0){
                var cheapest 9999;
                for (var n=0; n < menu[i].Items.length; n++){
                    if (menu[i].Items[n].Price < cheapest){
                        cheapest = menu[i].Items[n].Price;
                    }
                }
                if (cheapest == 9999){
                    cheapest = 0;
                }
                mults = "";
				if (Object.size(menu[i]) > 1) {
					mults = "s";
				}
                ll += '<a href="category.html" cat="' + menu[i].Name + '" move="slide"><div class="ico giant" style="background-image:url(' + $.mediaStore + getLS('biz')+'-p-'+p.toLowerCase().replace(/ /g,"")+'-60.jpg)"></div><p>' + p + '</p><div class="nota">' + Object.size(menu[i]) + ' Option'+mults+', starting from $'+cheapest+'</div><arrow></arrow><div class="inside"></div></a>';
            }
        }}
        catch(err){
            alert(err);
        }


		rp({'name':iam.name, 'thelist':ll});
		
		repAll();
		movePage($.move);															// movePage() starts the rendering.
		$.goBack = "biz.html";
	});


</script>

<content>

	<div class="header blue">
		<a href="biz.html" class="back" move="slideR"></a>
		<a href="splash.html" class="home" move="slideR"></a>
		<h1>{{name}}</h1>
	</div>
	
	<div class="orderblock">
		<p>Total $ <span class="cartVal">0.00</span></p>
		<a href="summary.html" class="summary" move="slide">Preview Order</a>
	</div>
	
	<div class="content list">
		{{thelist}}
	</div>

</content>