<form method="post" id="searchingForm">
	<div class="header">
		<a class="allClose" move="slide"></a>
		<h1>Search</h1>
	</div>
	<div class="content">
		<div class="bar" style="border-bottom:0;">
			<input type="text" placeholder="Search for Cafés" class="realSearch"  />
		</div>
		<div class="bar">
			<input placeholder="Search by Location" class="realSearch loc" style="margin-top:0" />
			<input type="submit" value="Search" name="search" style="position:absolute; left:-9999px" />
		</div>
		
		<div class="searchresults">
		
		</div>
	</div>
</form>