<script>
	clearLS('uc');
	buildPage('everything', $.fetch, function(dx) {									// build this page (store the cache in "everything" and grab from $.fetch)
		
		if (getLS('cart')) {	
			var iam = JSON.parse(getLS('cart'));
		}	
/* 		dx.shops[getLS('biz')]['hours']['fri'] = "9am - 11:59pm" */
		var fi = moment().add('minutes',5);
		if (dx.shops[getLS('biz')] && dx.shops[getLS('biz')]['hours'] && dx.shops[getLS('biz')]['hours'][moment().format('ddd').toLowerCase()]) {
			var clc = dx.shops[getLS('biz')]['hours'][moment().format('ddd').toLowerCase()];
			if (clc.indexOf("-") > 0) {
				clc = clc.split("-")[1].trim();
				if (clc.indexOf(":") > 0) {
					var cl = moment(moment().format('YYYY-MM-DD ') + clc, "YYYY-MM-DD hh:mm a");
				} else {
					var cl = moment(moment().format('YYYY-MM-DD ') + clc, "YYYY-MM-DD hh a");
				}
			} else {
				clc = moment(moment().format('YYYY-MM-DD ') + "6 am", "YYYY-MM-DD hh a");
			}
		} else {
			var cl = moment(moment().format('YYYY-MM-DD ') + "5 pm", "YYYY-MM-DD hh a");
		}
		var no = fi;
		var picko = '';
		var pickt = '';
		var picks = 5;
		while (no < cl) {
			picko += '<option value="'+no.format('YYYY-MM-DD HH:mm')+'">'+no.format('h:mm a')+'</option>';
			pickt += '<option value="'+no.format('YYYY-MM-DD HH:mm')+'">'+(picks)+' minutes</option>';
			no.add('minutes',5);
			picks += 5;

		}

		rp({'name':dx.shops[getLS('biz')]['name'], 'price':parseCart(), 'myname':getLS('myname'), 'phone':getLS('myphone'), 'pickups':picko, 'pickuptimer':pickt});
		
		repAll();
		movePage($.move);															// movePage() starts the rendering.
		
		setTimeout(function() {
			if ($('#name').val()!="" && $('#phone').val()!="" && $("#pickup").val()!="") {
				$('.sendnow').removeClass('off');
			}
		}, 400);
		
		/*if (moment() < cl) {
			$('.goodtoday').show();
			$('.badtoday').hide();
		} else {
			$('.goodtoday').hide();
			$('.badtoday').show();
		}*/
		$.goBack = "summary.html";
	});
</script>

<content>
	<div class="header blue">
		<a href="summary.html" class="back" move="slideR"></a>
		<a href="splash.html" class="home" move="slideR"></a>
		<h1>{{name}}</h1>
	</div>
	
	<div class="content">
		<div class="bar">
			Total Order <div class="price">$ {{price}}</div>
			<div style="font-size:13px; font-weight:300; height:auto; line-height:13px; margin-top:-15px;">Picking up from {{name}}</div>
		</div>
		
		<div class="rest">

			<div class="goodtoday">

				<p>Your Full Name</p>
				<input id="name" value="{{myname}}" />
				
				<p>Your Phone Number</p>
				<input id="phone"  value="{{phone}}" />
			
				<p>Pickup Time for your Order</p>
				<select id="pickuptimer">
					{{pickuptimer}}
				</select>
				<select id="pickup">
					{{pickups}}
				</select>
	
				
				<div style="height:40px; width:50px"></div>
				
				<div class="btn sendnow off">Pay on Pickup</div>
                <div class="btn paynow on">Pay Now</div>
	<!-- 			<a class="settlebtn sendnow">Settle</a> -->
			</div>
			
			<div class="badtoday">
			<p>Sorry, the caf&eacute; is closed for the day.</p>
			</div>

		</div>
		
	</div>
	
</content>