<script>
    
    
    
	buildPage('everything', $.fetch, function(dx) {									// build this page (store the cache in "everything" and grab from $.fetch)
	    InitiliseSpalsh();
        
        var dx1 = JSON.parse(getLS('everything'));
           
        if (dx1 != undefined){
        
        try{
             if (dx1.Packet.Content.Stores.length < $.display){
                $.display = dx1.Packet.Content.Stores.length;
                }   
           }
           catch(err){
                   alert(err)
              }
         
         
          var ll="";
          var spots = {};
    
		
																	// for whatever reason, I use ll to make lists.	
		/*if (dx.shops) {
			$.each(dx.shops, function(p,v) {													// for each entry in the 'everything' object, we iterate...
																						// create a list item (HTML is good here)
				if (v['coordinates'] && v['coordinates']['lat']!='') {
					var dis = distances(v['coordinates']['lat'],v['coordinates']['lon']).toFixed(1);
					if (dis > 10) {
						dis = "10+";
					}
					spots[v['coordinates']['lat']+''+v['coordinates']['lon']] = v['coordinates'];
				} else {
					var dis = "";
				}
                
				ll += '<a href="biz.html" biz="' + p + '" move="slide"><div class="ico giant" style="background-image:url(' + $.mediaStore + p + '-logo.png)"></div><p>' + v.name + '</p><div class="nota">' + v.address + '</div><arrow>' + dis + ' km</arrow><div class="inside"></div></a>';
			});
		}*/
        
        var AllID = "";
            
        for (var i=0; i < $.display; i++)
        {
            if (i == 0){
            AllID += "'"+dx1.Packet.Content.Stores[i].ID+"'";
            }
            else{
            AllID += ",'"+dx1.Packet.Content.Stores[i].ID+"'";
            }
        }
        getShopfromID(AllID);
            
         //  alert("first "+dx1.Packet.Content.Stores[i].ID);         
           
         //  getShopfromID(dx1.Packet.Content.Stores[i].ID);
                    
        //   var dx2 =$.resultset;             
                    
         //  alert("second "+dx2.id); 
          
        for (var n=0; n<$.resultset.rows.length; n++){
     
            var dx2 = $.resultset.rows.item(n);  
            var v = JSON.parse(dx2.coordinates);
                             
            if (v.Lat != ''){
                var dis = distances(v.Lat,v.Long).toFixed(1);
               
					if (dis > 10) {
						dis = "10+";
					}
					spots[v.Lat+' '+v.Long] = v;
				} else {
					var dis = "";
				}
          
                         
            if (dx2.status == 'true'){
                                                  
               if (CheckShopOpen(dx2))
              {
                 ll += '<a href="biz.html" biz="' + dx2.id + '" move="slide"><div class="ico giant" style="background-image:url(' + $.mediaStore + dx2.id + '-logo.png)"></div><p>' + dx2.name + '</p><div class="nota">' + dx2.address + '</div><arrow>' + dis + ' km</arrow><div class="inside"></div></a>';
              }
              else
              {
                 ll += '<a href="biz.html" biz="' + dx2.id + '" move="slide" style="background-color:Silver"><div class="ico giant" style="background-image:url(' + $.mediaStore + dx2.id + '-logo.png)"></div><p>' + dx2.name + '</p><div class="nota">' + dx2.address + '</div><div class="close">Closed</div><arrow>' + dis + ' km</arrow><div class="inside"></div></a>';
              }
                         
            }
            else{
               ll += '<a href="biz.html" biz="' + dx2.id + '" move="slide" style="background-color:Silver"><div class="ico giant" style="background-image:url(' + $.mediaStore + dx2.id + '-logo.png)"></div><p>' + dx2.name + '</p><div class="nota">' + dx2.address + '</div><div class="close">OffLine</div><arrow>' + dis + ' km</arrow><div class="inside"></div></a>';
            }  
       }
             
                               
                       
        rp({'thelist':ll});                                              
        movePage($.move);											// replace the {{thelist}} bit with the list we just made
        															// movePage() starts the rendering.
		setTimeout(function() {
			drawMap(spots);
		}, 50);
		$.get('http://maps.googleapis.com/maps/api/geocode/json?latlng='+$.myLat+','+$.myLon+'&sensor=true', function(data) {
			if (data.status != "ZERO_RESULTS") {
				var result = data['results'][0];
				var city = "";
				for(var i=0, len=result.address_components.length; i<len; i++) {
					var ac = result.address_components[i];
					if(ac.types.indexOf("neighborhood") >= 0) city = ac.long_name;
				}
				$('#iamhere').html(city);
			}
		});
		$.goBack = "splash.html";          
                                                   		
            }
    
	});

</script>

<content>
	<div class="header theme-b fixed">
		<a class="profileBtn" href="userdetail.html" move="slideR"></a>
		<a class="search" go="search"></a>
		<h1></h1>
	</div>
	
	<div class="smallmap" id="map_canvas"></div>
	<div class="mapoverlay">All cafés near you: <b id="iamhere"></b></div>
	
	<div class="content list">
		<div class="thelist">
			{{thelist}}
            
            <div class="btn loadmore on">Show More</div>
		</div>
	</div>
</content>