<script>
	clearLS('uc');
	buildPage('everything', $.fetch, function(dx) {									// build this page (store the cache in "everything" and grab from $.fetch)
		$.carto = {};

		
		if (getLS('cart')) {
			var iam = JSON.parse(getLS('cart'));
			var ll = '';																// for whatever reason, I use ll to make lists.	
			var lx = {};
			$.each(iam[getLS('biz')], function(p,v) {													// for each entry in the 'everything' object, we iterate...
				idc = [];
				if (v.name) {
					idc.push(v.name);
				}
				if (v.addThis == 0 || v.addThis == undefined) {
					delete $.cart[getLS('biz')][p];
				} else {

					var ops = [];																		// create a list item (HTML is good here)
					if (v.addThis > 0) {
						$.each(v.options, function(op,ov) {
							idc.push(ov.code+ov.name);
							var ide = ov.name;
							if (ov.num > 1) {
								ide += ' x ' + ov.num;
							}
							ops.push(ide);
						});
						if (ops.length > 0) {
							ops = "*"+ops.join('<br />*');
						}
						
					}
					spit(idc);
					spit($.cart[getLS('biz')]);
					if (idc.length == 1) {
						$.cart[getLS('biz')][p]['idc'] = idc;
					} else {
						$.cart[getLS('biz')][p]['idc'] = idc.sort().join(".");
					}
					
					if ($.carto[$.cart[getLS('biz')][p]['idc']] != undefined) {
						$.cart[getLS('biz')][$.carto[$.cart[getLS('biz')][p]['idc']]]['addThis'] = ($.cart[getLS('biz')][$.carto[$.cart[getLS('biz')][p]['idc']]]['addThis']*1)+(v.addThis*1);
						lx[$.carto[$.cart[getLS('biz')][p]['idc']]]['addThis'] = (v.addThis*1)+(lx[$.carto[$.cart[getLS('biz')][p]['idc']]]['addThis']*1);
						delete $.cart[getLS('biz')][p];
					} else {
						$.carto[$.cart[getLS('biz')][p]['idc']] = p;
						lx[p] = {'val':v.val, 'addThis':v.addThis, 'name':v.name, 'ops':ops};
					}
				}
			});
			
			$.each(lx, function(p, v) {
				ll += '<a href="item.html" class="itemlist" style="min-height:30px" uc="' + p + '" move="slideR"><div class="ico big"></div><div class="price" baseprice="' + v.val + '" numItems="' + v.addThis + '"></div><p>' + v.name + ' <b>x <span class="numofit">' + v.addThis +'</span></b></p><div class="nota">' + v.ops + '</div><div class="add_and_remove"><div class="remove_item">&ndash;</div><div class="add_item">+</div></div><div style="clear:both"></div><div class="inside"></div></a>';
			});
		} else {
			var ll = '';
		}

		rp({'name':dx.shops[getLS('biz')]['name'], 'thelist':ll});
		
		repAll();
		movePage($.move);															// movePage() starts the rendering.
		spit($('.itemlist').length);
		if ($('.itemlist').length == 0) {
			spit('empty!');
			$('a.summary').hide();
		}
		$.goBack = "category.html";
	});
</script>

<content>

	<div class="header blue">
		<a href="category.html" class="back" move="slideR"></a>
		<a href="splash.html" class="home" move="slideR"></a>
		<h1>{{name}}</h1>
	</div>
	
	<div class="cat">Your Order</div>
	
	<div class="orderblock submitorder">
		<p>Total $ <span class="cartVal">0.00</span></p>
		<a href="send.html" class="summary" move="slide">Submit Order</a>
		<a class="summary clearorder">Clear</a>
	</div>

	<div class="content list flex summary">
		{{thelist}}
	</div>

</content>