<script>
	buildPage('everything', $.fetch, function(dx) {									// build this page (store the cache in "everything" and grab from $.fetch)
		//$.pickup = "22:17:36 GMT-0400 (EDT)";
		rp({'name':dx.shops[getLS('biz')]['name'],'pickup':$.pickup, 'cafe':dx.shops[getLS('biz')]['name']});
		
		movePage($.move);															// movePage() starts the rendering.
		$.goBack = "biz.html";
	});
</script>

<content>
	<div class="header blue">
		<a href="biz.html" class="back" move="slideR"></a>
		<a href="splash.html" class="home" move="slideR"></a>
		<h1>{{name}}</h1>
	</div>
	
	<div class="content">
		
		<div class="rest">
			<p>Thank you!</p>
			
			<p>Your order will be ready to pick up from {{cafe}} at {{pickup}}</p>
			
			<a class="btn" href="biz.html" move="slideR">OK</a>

		</div>
		
	</div>
	
</content>