<script>
	clearLS('uc');
	
	var o = getLS('oldCart');
	if (o != undefined && JSON.parse(getLS('everything'))['shops']) {
		o = JSON.parse(o);
		
		var os = [];
		$.each(o, function(oo, oop) {
			os.push(oo);
		});
		os.reverse();
		var first = os.shift();
		var exo = [];
		var bn = o[first]['biz'];
		var bizz = JSON.parse(getLS('everything'))['shops'][bn]['name'];
		rp({'cafe':bizz});
		$.each(o[first]['items'], function(p,v) {
			if (v.addThis > 0) {
				exo.push(v.addThis + " x " + v.name);
			}
		});
		var order = exo.join("<br>");
		
		var total = o[first]['total'];
	} else {
		var order= "";
		var total ="";
		var lastorder = "";
		rp({'/ifno':''});
	}
	
	if (getLS('userIm') != undefined) {
		var imzy = ' style="background-image:url('+getLS('userIm')+'); background-size:cover !important;" ';
	} else {
		var imzy = '';
	}
	
	rp({'name':getLS('myname'), 'phone':getLS('myphone'), 'order':order, 'total':'$ '+total,'lastorder':first, 'imzy':imzy});
	repAll();
	movePage($.move);															// movePage() starts the rendering.
	$.goBack = "splash.html";
   
</script>

<content>

	<div class="header">
		<a href="splash.html" class="allClose" move="slide"></a>
		<!--<a class="allOK" move="slide"></a>-->
		<h1>Profile</h1>
	</div>
	  
	

	<div class="content list flex summary">
	
		<!--<div class="ico giant immy" {{imzy}}></div>-->
		
		<div class="sideInfo">
			
             <p><b>First Name</b></p>
			<p><input id="firstname" value="{{firstname}}" placeholder="Your first name"/></p>
			<div class="line"></div>
            
              <p><b>Last Name</b></p>
			<p><input id="lastname" value="{{lastname}}" placeholder="Your last name" /></p>
			<div class="line"></div> 
            
            <p><b>Email</b></p>
			<p><input id="email" value="{{email}}" placeholder="Your email" /></p>
			<div class="line"></div>
            
             <p><b>Password</b></p>
			<p><input id="password" value="{{password}}" placeholder="Password" type='password' /></p>
			<div class="line"></div>
            
             <p><b>Confirm Password</b></p>
			<p><input id="Con_password" value="{{Con_password}}" placeholder="Confirm Password" type='password' /></p>
			<div class="line"></div>
			
			<p><b>Phone</b></p>
			<p><input id="phone" value="{{phone}}" placeholder="Your phone number" /></p>
			<div class="line"></div>
            
            <div class="btn update on">Update Details</div>
		
		</div>
	
	</div>

</content>