<script>
	clearLS('uc');	
    
	
	if (getLS('userIm') != undefined) {
		var imzy = ' style="background-image:url('+getLS('userIm')+'); background-size:cover !important;" ';
	} else {
		var imzy = '';
	}
	
	rp({'name':getLS('myname'), 'phone':getLS('myphone'), 'order':order, 'total':'$ '+total,'lastorder':first, 'imzy':imzy});
	repAll();
	movePage($.move);															// movePage() starts the rendering.
	$.goBack = "profile.html";
</script>

<content>

	<div class="header">
		<a href="profile.html" class="back" move="slide"></a>
		<a class="allOK" move="slide"></a>
     
		<h1>Verification</h1>
	</div>
	  
	

	<div class="content list flex summary">
	
		<!--<div class="ico giant immy" {{imzy}}></div>-->
		
		<div class="sideInfo">
			
            <p><b>Verification Code</b></p>
			<p><input id="code" value="{{code}}" placeholder="Verification Code" /></p>
			<div class="line"></div>           
            <div class="btn resend on">Resend code</div>		
		
		</div>
	
	</div>

</content>